h1{
   
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Outfit';
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 88px; 
    padding: 5px 55px 0 0;
    margin: 25px 80px 0 0;
    color: white;
    
}

h2{
    font-family: 'Outfit';
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 80px 0 5px;
    color: white;

}

h3{
    font-family: 'Outfit';
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 80px 0 5px;
    color: white;
    font-size: 30px;

}

text{
    font-family: 'Outfit';
    /* font-family: 'Poppins', sans-serif; */
    margin-top: 20px;
    
    justify-content: center;
    fill: rgb(194, 205, 255);
    font-size: 30px;
    padding-left: 20px;
    background: fixed;
    background-color: rgb(0, 92, 173)
}


button{
    border-radius: 10px;
    border-style: hidden;
    background-color: rgba(15, 15, 75, 0.741);
    color: white;
   
    font-family: 'Outfit';
    width: 130px;
    height: 50px;
    font-size: 20px;
}
span {
    font-family: 'Outfit';
    font-size: 25px;
    display: flex;
    flex-direction: column;
    color: white;
}

select{
    border-radius: 5px;
    border-style: hidden;
    background-color: rgba(15, 15, 75, 0.741);
    color: white;
    font-size: 15px;
    font-family: 'Outfit';
}

.col {
    width: 30%;
    height: 30%;
    display:inline-block;
    float:left;
    padding-right: 100px;
}

.dropdowns {
    width: 100%;
    height: 100%;
    padding: 0 0 10px 0; 
    margin: 30px 40px 0 0px;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0 0 40px 10%;

}
.tools{
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
}
.button-container{
    padding: 0 0 10px 0; 
    margin: 0px 40px 0 0px;
}

.court{
    /* background-color: rgba(0, 0, 0, 0.274); */
    justify-items: center;
    justify-content: center;
    justify-self: center;
  
    margin: 0 auto;

    
    padding: 0 10% 0 10%;
}

.info{
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
    background-color: rgba(37, 66, 160, 0.288);
    border-radius: 10px;
    width: 1125px;
    

}

.home{
    width: 50%;
}
.away{
    width: 50%;
}

body{
    margin: 0;
    padding-bottom: 50px;
    
    background: linear-gradient(217deg, rgba(7, 8, 71, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(84, 144, 255, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(251, 253, 124, 0.8), rgba(0,0,255,0) 70.71%);
  
}


svg{
   
    justify-content: center;
}